
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgba(85,123,160,0.2);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(85,123,160,0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: rgba(85,123,160,0.7);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: #4582BC;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.form-control[readonly],.form-control[disabled]{
   background-color: white;
}
*{
    outline: none;
    outline-color: transparent;
    outline-style: none;
}
body,html{
    font-family: 'segoe'!important;
    font-weight: 400;
    background-color: #f7f9fb!important;
    display: table;
    width: 100%;
    overflow-x: hidden;
}
.ta-editor{
  margin-top: 15px;
}
.btn-toolbar > .btn-group{margin-bottom: 10px}
.ui-select-placeholder{
  color:#3a3f51;
}
.notfBell:hover{
  color: #000000!important;
}
.iconLabel {
    font-family: 'segoe'!important;
    font-weight: 400;
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: #909090!important;
}
.invalidDate{
  border-color: rgb(244,67,54)!important;
}
hr {
    margin-top: 18px;
    margin-bottom: 18px;
}
/*.radio + .radio, .checkbox + .checkbox{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}*/

.dataTables_filter{
  width: 400px;
  /*position: fixed;*/
  text-align: left!important;
  float: left!important;
}
.dataTables_length{
  text-align: right!important;
  float: right!important;
}
.dataTables_filter label{
  width: 80%!important;
}
.dataTables_filter input {
  border:1px solid #eeeeee;
  padding: 10px;
  line-height: 20px;
  margin-left: 15px;
  width: 80%;
}
.VHAlign{
  align-items: center;justify-content: center;
}
.dropOut{
  overflow-y: auto;
  max-height: 300px;
  position: fixed;
  top: auto;
  left: auto;
}

.btn-float:not(.m-btn){
  left:calc(50% - 30px);
}

/* BUTTONS INPUT */
a {
    color: #293138;
    text-decoration: none;
    cursor: pointer;
}
a:hover, a:focus {
    color: #293138;
    text-decoration: underline;
}
.main-menu a:hover,.main-menu a:focus,.main-menu a:active
.sidebar-inner *:hover,.sidebar-inner *:focus,.sidebar-inner *:active
{
  text-decoration: none!important;
}
.btn-block + .btn-block{
  margin-top: 0;
}
.btn{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-actions{
  border-radius: 4px;
  border: solid 1px #dce5eb;
  margin: 5px;
}
.btn-actions:hover{
  transform: scale(1.1);
}
.activeSubBtn{
  background-image: none!important;
  background-color: #0d7e9a!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,button{border: none}
button, input, select, textarea{
    font-family: 'segoe'!important;
    font-weight: 400;
}
a,button{
  cursor: pointer;
}
.peg{display: none;}
/* DENEFITS CSS */
.page-header .btn-group{
    width: 100%;
}




.greenDiv{
    border-radius: 4px;
    color: #ffffff;
    background-color: #000000;
    border:none;
    width: 200px;
    margin-right: 15px;
}
.whiteDiv{
    border-radius: 4px;
    color: #ffffff;
    background-color: #fff;
    border:1px solid #dddddd;
    /*text-align: center;*/
}
.searchDiv{
    height: 60px;
    padding: 8px 15px;
    border-radius: 4px;
    color: #505050;
    background-color: #fff;
    border: solid 1px #dce5eb;
    width: 240px;
    margin-right: 15px;
}
.searchDiv input{
    line-height: 3;
}
.searchDiv span{
    font-size: 20px;
    padding-top: 5px;
}
.greyDiv{
    margin-left: 15px;
    width: 140px;
}
.greyDiv,.greenDiv{
    padding: 10px 15px;
}
.greyDiv h4,.greenDiv h4{
    margin: 0;
}
.greenDiv h4{ color: white}
/*.whiteDiv h4,.whiteDiv span{ text-align: left;color: #505050}*/

.loginBtn:hover,
.loginBtn:focus,
.btnDefault:hover,.btnDefault:visited,
.btnDefault:focus,.btnDefault:active
{
    color: white!important;
    background-color: #ee7670;
}
.whiteBtn:hover,.whiteBtn:focus{
  background-image: linear-gradient(to bottom, #f5f5f5, #ffffff);
}
.btnDefault{
    border-radius: 4px;
    /*background-image: linear-gradient(to bottom, #65a9ea, #4582BC);*/
    background-color: #ee7670;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    color: white;
    padding: 7px 15px;
    min-width: 100px;
    width: auto;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
}
/*.btn-default:hover {*/
    /*color: #333333;*/
    /*!*background-color: #ffffff;*!*/

    /*border:none;*/
/*}*/
.errorSpan{
    position: absolute;
    right: 0;
    color:#d62a2a;
    font-family: 'segoe'!important;
    font-weight: 400;
    font-size: 16px;
    display: block;
    float: right;
    margin-top: -27px;

}
.errorPopSpan{
    position: static!important;
    margin: -27px 0 0 7px;
    float: right;
    height: 0;
}
.errorSpanPop{
  position: static;
  margin: -27px 0 0 7px;
  right: 0;
  float: right;
  height: 0;
  font-family: 'segoe'!important;
    font-weight: 400;
  color: #d62a2a;
  font-size: 16px;
}
.profileName{
    color: #fff;
    font-family: 'segoe'!important;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 0 0 10px;
    margin: 2px 0!important;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profileMenu{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.3);
}
.pageContent{
  /*margin-top: -70px;*/
  padding-top: 70px;
}
.pageFixedHeader{
  /*z-index: 100;*/
}
.nowbeautyLogin{
  background-size: contain;
  height: 100%;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: transparent!important;
}
.smallTD{width: 100px!important;word-wrap: break-word;}
.normalTD{width: 130px!important;word-wrap: break-word;}
.largeTD{width: 160px!important;word-wrap: break-word;}
.largerTD{width: 190px!important;word-wrap: break-word;}

.zipcode input{
  max-height: 35px;
}
.zipcode label{
  position: relative!important;
}

.noResults{
  position: absolute;
  bottom: 5px;
  left: 0;
}
.codeSelect{
  padding-top: 26px;
}

.list-inline>li{
  float: left;
  width: 25%;
}
.form-otp-input {
  min-width: 40px;
  min-height: 50px;
  width: 95%!important;
  height: 100%!important;
  max-width: 60px;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding: 2px!important;
  border: 1px solid #dce5eb;
}

.loginBtn{
    width: 40%;
    min-width: 180px;
    max-width: 300px;
    margin: auto;
    /*max-width: calc(100%);*/
    height: 40px;
    border-radius: 4px;
    /*background-color: #000000;*/
    background-image: linear-gradient(to right, #000000 0%, #000000 100%);
    font-family: 'segoe'!important;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    /*float: left;*/
    box-shadow: none;
}
.whiteBtn{
    height: 40px;
    border-radius: 4px;
    /*background-color: #000000;*/
    background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
    font-family: 'segoe'!important;
    font-weight: 400;
    color: #505050;
    font-size: 16px;
    float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    border:1px solid #dce5eb;
}
.btn-cancel,.btn-cancel:active{
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #cccccc;
    font-weight: bold;
}
.btn-cancel:hover{
  border: solid 1px #cccccc;
  background-image: linear-gradient(to bottom, #cccccc, #ffffff);

}
.popHR{
  color: #dce5eb;
  margin: 0 -20px;
  width: calc(100% + 40px);
  height: 1px;
  float: left;
  margin-top: 20px;
}
.popBigHR{
  color: #dce5eb;
  margin: 25px -30px;
  width: calc(100% + 60px);
  height: 1px;
  float: left;
}
.ui-select-match .btn-default{
  color: #3a3f51!important;
  background-color: #fff!important;
  border: 1px solid #dde6e9!important;
}
.btn-pop,.btn-pop:active{
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    /*border: solid 1px #65a9ea;*/
    font-weight: bold;
    /*background-image: linear-gradient(to bottom, #65a9ea, #4582BC);*/
    background-image: linear-gradient(to right, #ee7670 0%, #ee7670 100%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}
.btn-pop:hover{
    /*border: solid 1px #65a9ea;*/
    /*background-image: linear-gradient(to bottom, #4582BC, #65a9ea);*/
    background-image: linear-gradient(to right, #ee7670 0%, #ee7670 100%);
}
.ngdialog-header{
    border-bottom: 1px solid #dce5eb;
}
.ngdialog-header,.ngdialog-body{
    padding: 25px;
    display: table;
    width: 100%;
}
.bigPop,.biggerPop,.biggestPop,.signUpPop{
    padding: 0!important;
}
.bigPop .ngdialog-header,.biggerPop .ngdialog-header,.biggestPop .ngdialog-header{
    padding: 25px 35px!important;
}
.bigPop .ngdialog-body,.biggerPop .ngdialog-body,.biggestPop .ngdialog-body{
    padding: 25px 20px!important;
}
.signUpPop .ngdialog-body{
  padding: 0;
}
.ngdialog-body .btn-cancel,.ngdialog-body .btn-pop{
    margin: 30px 0 0 0!important;
    padding: 10px 25px;
    max-width: 150px;
    font-size: 16px!important;
}
.smallPop .ngdialog-close{
    top:    20px!important;
    right:  15px!important;
}
.cardSmallPop .ngdialog-close{
    top:    20px!important;
    right:  15px!important;
}
.bigPop .ngdialog-close,.biggerPop .ngdialog-close,.biggestPop .ngdialog-close{
    top:    20px!important;
    right:  20px!important;
}
.ngdialog-close:before{
    font-family: 'segoe'!important;
    font-weight: 400;
}
.ngdialog-closeSU{
  position: absolute;
  top: 20px;
  right: 20px;

}
.ngdialog-header p{
    color: #ca4744;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.ngdialog-body p{
  margin: 0;
}
.bigPop .ngdialog-header h4,.biggerPop .ngdialog-header h4,.biggestPop .ngdialog-header h4{
    color: #505050;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
/*.ngdialog-body p{color: rgba(0,0,0,0.5)}*/
.bigPop .ngdialog-header,.biggerPop .ngdialog-header,.biggestPop .ngdialog-header{
    background-color: #f5f5f5;
}
#response .modal-dialog .modal-content .modal-body { padding:  20px;text-align: center}
.smallPop.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 400px!important;
}
.cardSmallPop.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 400px!important;
}
.cardSmallPop{
    padding-top: 0!important;
}

.bigPop.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 600px!important;
}
.biggerPop.ngdialog.ngdialog-theme-default .ngdialog-content,.biggerPop .modal-dialog {
    width: 800px!important;
}
.signUpPop.ngdialog.ngdialog-theme-default .ngdialog-content,.signUpPop .modal-dialog {
    width: 400px!important;
}
.biggestPop.ngdialog.ngdialog-theme-default .ngdialog-content,.biggestPop .modal-dialog {
    width: 1132px!important;
}
.modal-header{
  padding: 0!important;
}
.modal-content{
  display: table;
  overflow: hidden;
  padding: 25px;

}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #ffffff;
    border-radius: 4px;
    margin: 70px auto !important;
    max-width: 93%;
    padding: 0!important;
    height: auto;
    color: #505050!important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.signUpPop.ngdialog.ngdialog-theme-default .ngdialog-content{
  margin: 6% auto !important;
}


/****************************************************************/

@font-face {
    font-family: 'segoe';
    src: url('../fonts/segoe/segoeui.ttf');
}
label,div,h1,h2,h3,h4,h5,h6,button,a,input,p{font-family: 'segoe'!important;}
.layout-h.layout-fixed .wrapper > section{margin: 70px 0 0!important;max-width: none}
.layout-h.layout-fixed .wrapper > section > .content-wrapper{padding: 0!important;}
.noScrollHeader .whiteLogo,.scrollHeader .blackLogo{display: none!important;}
.navbar-brand{  height:70px;}
.navbar-nav{ padding:7.5px 0;}
.form-group label{
    color: #909090!important;
    font-size: 14px;
    text-align: left;
}
.joinUs{
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    padding: 9px 15px!important;
    margin: 7px!important;
}
.noScrollHeader{
    background-color: transparent!important;
    background-image: none!important;
}
.noScrollHeader  .navbar-nav > li > a, .noScrollHeader  .navbar-nav > .open > a{
    color:#000!important;
}

.missionDiv,.serviceDiv,.stylistsDiv,.footerDiv{padding: 10vh 0;}

.homeBG{
    background:url(../img/PNG/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /*padding-top: 200px;*/
    background-position-x: 60%;
    display: flex;
    align-items: center;
}
.homeBG h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    color: #000;
}
.homeBG p{
    margin-top: 20px;
    opacity: 0.5;
    font-size: 20px;
    text-align: right;
    color: #000;
    line-height: 25px;
}
.serviceDiv h3{
    color: #000;
    font-size: 3rem;
    font-weight: bold;
}
.serviceDiv h4{
    color: #909090;
    text-align: center;
    margin: 5vh auto 10vh;
}
.serviceLabel{
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10vh;
}
.serviceLabel img{
    width: 100%;
}
.serviceLabelText{
    opacity: 0.9;
    background-color: #ee7670;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom:0;
    padding: 15px;
    width: calc(100% - 30px);
    transition: all 0.8s ease-in-out;
}
.activeService{
    height: 100%;
    transition: all 0.8s ease-in-out;
    background-image: linear-gradient(to top, #efaa5e, #ee7670);
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.missionDiv{
    background: url("../img/PNG/our_mission.jpg");
    background-color: #000;
}
.stylistsDiv h3,.missionDiv h3{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}
.stylistsDiv h4,.missionDiv h4{
    color: #fff;
    text-align: center;
    margin: 5vh auto 0;
}
.whyDiv img{
    margin: 5vh auto;
}
.activeWhy{
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
}
.stylistsDiv{
    background: url("../img/PNG/nb_stylists.jpg");
    background-color: #000;
    background-position-x: 100%;
}
.stylistsDiv h4{
    font-weight: 400;
}
.blogDiv h3{
    margin: 5vh auto 10vh;
}
.blogDiv h4{
    margin: 2vh auto;
    color: #000;
}
.blogDiv label{
    margin: 2vh auto;
    line-height: 18px;
    font-size: 14px;
    color: #909090;
}
.blogDiv img{
    width: 100%;
}
.blogSingleDiv{
    overflow: hidden;
}
.footerDiv{background-color: #000;}
.footerDiv label,.footerDiv a{
    color: rgba(255,255,255,0.8);
}
.socialLinks{
    width: 20%;
    float: left;
}
.socialLinks img{
    width: 30px;
}
.singInImage{
    background: url("../img/PNG/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

/*******************************************************/


.locationDiv{
    background: url("../img/PNG/location_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-position-x: 60%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}
.autoDetect{
    color: #ee7670;
    display: flex;
    align-items: center;
    line-height: 16px;
    padding: 8.5px 15px;
}
.autoDetect img{
    width:14px;
}
.locationDiv h3{color: #000;font-weight: bold}
.locationDiv label{color: #909090;font-size: 16px;margin: 2vh auto 3vh;line-height: 18px;}
.input-group-addon{
    background-color: white;
    border-right: none;
}
/*.locationDiv .input-group input{*/
    /*border-left:none;*/
/*}*/
.navBar{
    position: fixed;
    height: 70px;
    background-color: #dce5eb;
    z-index: 9999;
}
.navBar .navLink{
    position: absolute;
    top:0;
}
.navBar h3{color: #000;text-align: center}
.contentDiv{
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.servDiv{
    border:1px solid #dddddd;
    border-radius: 4px;
    padding: 20px;
}
.subServDiv{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    padding:15px;
    margin: 20px auto;
}
.subServDiv:hover{
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.addServDiv{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    margin: 20px auto;
}
.addServDiv label.serviceName{
    text-align: left;
    font-size: 20px;
    color: #000000;

}
.whiteHeader{
    border-bottom: 1px solid #dddddd;
}
.whiteFooter{
    border-top: 1px solid #dddddd;
}
.whiteDiv h2{
    color: #ee7670;
    font-size: 3rem;
    margin: 10px 0 25px;
}
.whiteDiv label,.whiteDiv h4{
    color: #000;
    text-align: left;
    font-weight: normal;
}
.greyFooter{
    border-top: 1px solid #dddddd;
    background-color: #f4f7f9;
}
.selectedBox{
    background-color: #ee7670!important;
    background-image: none!important;
    color: white!important;
}
.verifyDiv{
    background: url("../img/PNG/thanks_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    min-height: 350px;
}
.savedAddressDiv{
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px;
}
.savAddSubDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: left;
}
.savAddSubDiv h4,.savAddSubDiv label{
    margin: 0;
    padding: 0;
}
.savAddSubDiv label{
    font-size: 14px;
    color: #909090;
}

.savAddSubDiv h4{
    font-size: 16px;
    color: #000;
}






.thanksDiv{
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}
.thanksPic{
    background: url("../img/PNG/thanks_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    height: calc(100vh - 70px);
}
.thanksText{
    display: flex;
    padding: 0 10vw;
    color: #000;
}
.thanksText label{
    color: #909090;
    font-size: 14px;
    line-height: 16px;
}
