<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
   <!-- START navbar header-->
   <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" ng-if="signInUp">
         <div class="brand-logo">
            <img class="img-responsive" src="app/img/SVG/logo_white.svg" alt="App Logo" />
         </div>
         <div class="brand-logo-collapsed">
            <img class="img-responsive" src="app/img/SVG/bar_logo.svg" alt="App Logo" />
         </div>
      </a>
       <a class="navbar-brand" ui-sref="app.location" ng-hide="loggedIn" ng-if="!signInUp">
           <div class="brand-logo">
               <img class="img-responsive" src="app/img/SVG/logo_white.svg" alt="App Logo" />
           </div>
           <div class="brand-logo-collapsed">
               <img class="img-responsive" src="app/img/SVG/bar_logo.svg" alt="App Logo" />
           </div>
       </a>
       <a class="navbar-brand" ui-sref="app.categories" ng-hide="!loggedIn" ng-if="!signInUp">
           <div class="brand-logo">
               <img class="img-responsive" src="app/img/SVG/logo_white.svg" alt="App Logo" />
           </div>
           <div class="brand-logo-collapsed">
               <img class="img-responsive" src="app/img/SVG/bar_logo.svg" alt="App Logo" />
           </div>
       </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="collapse navbar-collapse pull-right" uib-collapse="navCollapsed" ng-if="!signInUp">
      <!-- Navbar Menu -->
      <ul class="nav navbar-nav" ng-controller="SidebarController" >
         <li >
             <a ng-hide="loggedIn" ng-click="mCtrl.signInPop()"><span>Sign In</span></a>
             <a ng-show="loggedIn" class="joinUs"><span>{{mCtrl.user_name||'User'}}</span></a>
         </li>
      </ul>
   </div>
    <div class="collapse navbar-collapse pull-right" uib-collapse="navCollapsed" ng-if="signInUp">
        <!-- Navbar Menu -->
        <ul class="nav navbar-nav" ng-controller="SidebarController" >
            <li ><a ui-sref="home"><span>Home</span></a></li>
            <li ><a ui-sref="about"><span>About Us</span></a></li>
            <li >
                <a ng-if="!signUp" ui-sref="app.signUp"><span>Sign Up</span></a>
                <a ng-if="signUp" ui-sref="app.signIn"><span>Sign In</span></a>
            </li>
        </ul>
    </div>

   <!-- END Search form-->
   <script type="text/ng-template" ng-show="visible" id="logout_modal">
              <div class="ngdialog-message logoutpopo">

                  <div class="ngdialog-header">
                      <p>Logout Confirmation</p>
                  </div>
                  <div class="ngdialog-body">
                      <p>Do you want to Logout ? </p>
                      <button type="button" ng-click="closeThisDialog('button')"
                      class="btn btn-default pull-left btn-cancel">Cancel
                      </button>
                      <button type="button" ng-click="mCtrl.logout()"
                              class="btn btn-primary pull-right btn-pop">Confirm
                      </button>
                  </div>
              </div>
          </script>
    <script type="text/ng-template" ng-show="visible" id="signInModal">
        <div class="ngdialog-message logoutpopo m-0">
            <div class="ngdialog-body p-0" style="padding: 0!important;">
                <div class="signInImage"></div>
                <div class="signInUpDiv p-20">
                    <uib-tabset>
                        <uib-tab heading="Sign In">
                            <form name="mCtrl.signInForm" ng-submit="mCtrl.signInForm.$submitted&&mCtrl.signInFn()">
                                <div class="form-group">
                                    <label>Enter your phone number to continue</label>
                                    <div class="input-group">
                                        <div class="input-group-btn dropdown" uib-dropdown="" style="">
                                            <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle=""
                                                    aria-haspopup="true" aria-expanded="false">{{mCtrl.code}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="code in mCtrl.codes">
                                                    <a ng-click="mCtrl.chooseCode(code)">{{code}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input class="form-control" type="text" ng-model="mCtrl.login.phone" maxlength=15 minlength=9
                                               onkeypress="return isNumberKey(event)" masked="" data-inputmask="'mask': '(999) 999-9999'">
                                    </div>
                                </div>
                                <button type="submit" class="btn btnDefault w-100">Continue</button>
                            </form>
                        </uib-tab>
                        <uib-tab heading="Sign Up">
                            <form name="mCtrl.signUpForm" ng-submit="mCtrl.signUpForm.$submitted&&mCtrl.signInFn(2)">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input name="fullName" minlength="2" class="form-control" ng-model="mCtrl.login.fullName" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="email" class="form-control" ng-pattern="mCtrl.emailPattern" required ng-model="mCtrl.login.email">
                                </div>
                                <div class="form-group">
                                    <label>Enter your phone number to continue</label>
                                    <div class="input-group">
                                        <div class="input-group-btn dropdown" uib-dropdown="" style="">
                                            <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle=""
                                                    aria-haspopup="true" aria-expanded="false">{{mCtrl.code}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="code in mCtrl.codes">
                                                    <a ng-click="mCtrl.chooseCode(code)">{{code}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input class="form-control" type="text" ng-model="mCtrl.login.phone" maxlength=15 minlength=9
                                               onkeypress="return isNumberKey(event)" masked="" data-inputmask="'mask': '(999) 999-9999'">
                                    </div>
                                </div>
                                <button type="submit" class="btn btnDefault w-100">Continue</button>
                            </form>
                        </uib-tab>
                    </uib-tabset>
                    <div class="termsLink col-lg-12 text-center"><a class="w-100 text-center">By continuing, you agree to <span style="color: #ee7670">Terms & Conditions</span></a></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="otp_modal">
        <div class="ngdialog-message m-0">
            <div class="p-0 ngdialog-body prospectDiv row" style="display: flex;padding: 0!important">
                <div class="p-0 hidden-xs col-lg-5 col-md-5 col-sm-5 verifyDiv">
                </div>
                <div class="p-30 col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <form name="mCtrl.verifyOTPForm" class="OtpForm" ng-submit="mCtrl.verifyOTPForm.$submitted&&mCtrl.verifyOTPLogin(1)">
                        <h3 class=" text-left">Verify your phone number</h3>
                        <label style="color:#505050" class="m-b-30 text-left">Please enter verification code sent to {{mCtrl.code}}-{{mCtrl.login.phone}}</label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                            <ul class="full-width text-left list-inline">
                                <li><input type="tel" maxlength="1" id="input0" auto-tab-to="input1" switch="input0" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="mCtrl.OTP.a" required autocomplete="off"></li>
                                <li><input type="tel" maxlength="1" id="input1" auto-tab-to="input2" switch="input0" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="mCtrl.OTP.b" required autocomplete="off"></li>
                                <li><input type="tel" maxlength="1" id="input2" auto-tab-to="input3" switch="input1" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="mCtrl.OTP.c" required autocomplete="off"></li>
                                <li><input type="tel" maxlength="1" id="input3" auto-tab-to="input3" switch="input2" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="mCtrl.OTP.d" required autocomplete="off"></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 text-left p-0 m-t-20">
                            <a ng-click="!mCtrl.resendOTP&&mCtrl.generateOTP(2)" class="resendOTP" style="width: 35%;"
                               ng-disabled="mCtrl.resendOTP" ><span ng-show="!mCtrl.resendOTP">Resend Code</span>
                                <span ng-show="mCtrl.resendOTP">00:{{mCtrl.OTPCounter||30}}</span>
                            </a>
                        </div>
                        <div class="p-0 col-lg-12">

                            <button type="submit"
                                    class="m-l-15 btn btnDefault pull-left btn-pop">Verify Code
                            </button>
                            <button type="button"
                                    class="btn pull-right btn-cancel m-r-15" ng-click="closeThisDialog('button')">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
</nav>
<!-- END Top Navbar-->
