<div class="Now_BeautyLogin  ng-zoomBackDown ng-fluid" data-ng-controller="HomeController as home">
    <!-- top navbar-->
    <header class="topnavbar-wrapper" ng-include="'app/views/partials/home-navbar.html'"></header>
    <!-- offsidebar-->

    <section>
        <div class="row homeBG hidden-xs" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-lg-6 text-right pull-right" style="max-width: 450px;">
                        <h2>Look your best effortlessly</h2>
                        <div style="clear:both"></div>
                        <p>From Natural Hair Styling to Braids to to Make-up, find and book an expert stylist to your door!</p>
                        <button class="btn btnDefault m-t-20 m-b-20" style="font-size: 20px" ui-sref="app.location">Book an Appointment</button>
                        <div class="clearfix"></div>
                        <a class="storeLinks" href="https://itunes.apple.com/us/app/nowbeauty-beauty-on-demand/id1373180748?mt=8">
                            <img src="https://nowbeautyapp.com/assets/app_store.png" alt="" width="100%"> </a>
                        <a class="storeLinks" href="https://play.google.com/store/apps/details?id=com.nowbeauty.customer">
                            <img src="https://nowbeautyapp.com/assets/google_store.png" alt="" width="100%"> </a>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="row homeBG hidden-lg hidden-md hidden-sm" id="home">
            <div class="homeLayer">
                <div class="row">
                    <div class="col-xs-12 text-center pull-right " style="max-width: 450px;">
                        <h2>Look your best<br>effortlessly</h2>
                        <div style="clear:both"></div>
                        <p>From Natural Hair Styling to Braids to to Make-up, find and book an expert stylist to your door!</p>
                        <button class="btn btnDefault m-t-15" ui-sref="app.location">Book an Appointment</button>
                        <div class="clearfix"></div>
                        <a class="storeLinks" href="https://itunes.apple.com/us/app/nowbeauty-beauty-on-demand/id1373180748?mt=8">
                            <img src="https://nowbeautyapp.com/assets/app_store.png" alt="" width="100%"> </a>
                        <a class="storeLinks" href="https://play.google.com/store/apps/details?id=com.nowbeauty.customer">
                            <img src="https://nowbeautyapp.com/assets/google_store.png" alt="" width="100%"> </a>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="row serviceDiv" id="services">
            <div class="container">
                <h3 class="text-center">Our Services</h3>
                <h4>Choose a service and book a stylist to you fuss-free</h4>
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[0]=true" ng-mouseleave="home.services[0]=false">
                            <img src="app/img/PNG/plaits.jpeg">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[0]}">
                                <label class="text-center w-100">Plaits</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[1]=true" ng-mouseleave="home.services[1]=false">
                            <img src="app/img/PNG/makeup.jpeg">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[1]}">
                                <label class="text-center w-100">Make Up</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[2]=true" ng-mouseleave="home.services[2]=false">
                            <img src="app/img/PNG/natural.jpeg">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[2]}">
                                <label class="text-center w-100">Natural Hair</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[3]=true" ng-mouseleave="home.services[3]=false">
                            <img src="app/img/PNG/braids.jpeg">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[3]}">
                                <label class="text-center w-100">Braids</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[4]=true" ng-mouseleave="home.services[4]=false">
                            <img src="app/img/PNG/closure.jpeg">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[4]}">
                                <label class="text-center w-100">Closure Wigs</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0 serviceLabel">
                        <div class="col-lg-12" ng-mouseover="home.services[5]=true" ng-mouseleave="home.services[5]=false">
                            <img src="app/img/PNG/weaves2.jpg" style="margin-top:-25px">
                            <div class="serviceLabelText" ng-class="{'activeService':home.services[5]}">
                                <label class="text-center w-100">Weaves</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row missionDiv hide" id="mission">
            <div class="container">
                <h3 class="text-center">Our Mission</h3>
                <h4>To give black women the power to embrace their hair just the way it is! Whether it’s straight or curly - join the celebration!</h4>
            </div>
        </div>
        <div class="hide row serviceDiv whyDiv text-center" id="why">
            <div class="container">
                <h3 class="text-center">Why Us ? </h3>
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="col-lg-12">
                            <img src="app/img/SVG/browse.svg" ng-class="{'activeWhy':home.why[0]}" ng-mouseover="home.why[0]=true" ng-mouseleave="home.why[0]=false">
                            <label class="text-center w-100">Browse hairstyle & makeup
                                inspiration</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="col-lg-12">
                            <img src="app/img/SVG/stylists.svg" ng-class="{'activeWhy':home.why[1]}" ng-mouseover="home.why[1]=true" ng-mouseleave="home.why[1]=false">
                            <label class="text-center w-100">Get exclusive access to
                                the best stylists</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="col-lg-12">
                            <img src="app/img/SVG/relax.svg" ng-class="{'activeWhy':home.why[2]}" ng-mouseover="home.why[2]=true" ng-mouseleave="home.why[2]=false">
                            <label class="text-center w-100">Sit back & Relax
                                We come to you!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whyDiv howDiv text-center" id="works">
            <div class="container">
                <h3 class="text-center">How it works </h3>
                <h4></h4>
                <div class="col-lg-12 col-xs-12">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <ul class="sectionList text-left">
                                <li class="sectionSlide" ng-class="{'active':home.how[0]}">
                                    <i class="fa fa-play"></i>
                                    <div>
                                        <h4><a ng-click="home.changeSlide(0)" class="ls-linkto-1">BROWSE</a></h4>
                                        <p>Find hair &amp; make-up looks</p>
                                    </div>
                                </li>
                                <li class="sectionSlide" ng-class="{'active':home.how[1]}">
                                    <i class="fa fa-play"></i>
                                    <div>
                                        <h4><a ng-click="home.changeSlide(1)" class="ls-linkto-2">BOOK</a></h4>
                                        <p>Book a stylist to your door</p>
                                    </div>
                                </li>
                                <li class="sectionSlide" ng-class="{'active':home.how[2]}">
                                    <i class="fa fa-play"></i>
                                    <div>
                                        <h4><a ng-click="home.changeSlide(2)" class="ls-linkto-3">SLAY</a></h4>
                                        <p>SLAY effortlessly</p>
                                    </div>
                                </li>
                                <!-- <li class="sectionSlide hide" ng-class="{'active':home.how[3]}">
                                    <i class="fa fa-play"></i>
                                    <div>
                                        <h4><a ng-click="home.changeSlide(3)" class="ls-linkto-4">Lorem ipsum dolor sit amet</a></h4>
                                        <p>Lorem ipsum dolor sit amet, in vix choro viderer invidunt. No has maiestatis mnesarchum liberavisse.</p>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="row" style="height: 100%">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 phone_frame">
                                <ul style="height: 100%;" class="hide list-unstyled carousel1" rn-carousel="" rn-carousel-index="carouselIndex" rn-carousel-auto-slide="1">
                                    <li ng-repeat="slide in home.slides track by slide.id" ng-class="'id-' + slide.id">
                                        <div class="bgimage" ng-style="{'background-image': 'url(' + slide.img + ')'}"></div>
                                    </li>
                                </ul>
                                <video controls="false" autoplay loop style="width:100%;pointer-events: none">
                                <source src="app/img/how_it_works.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row stylistsDiv">
            <div class="container">
                <h3 class="text-center">NowBeauty Stylists</h3>
                <h4>Are you a professional hairstylist or Makeup Artist with more than three years’ experience?</h4>
                <div class="col-lg-12 text-center">
                    <button class="btn btnDefault m-20" ui-sref="joinUs">Join our stylist community</button>
                </div>

            </div>
        </div>
        <div class="hide row serviceDiv blogDiv text-center">
            <div class="container">
                <h3 class="text-center">NowBeauty Blogs</h3>
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blogSingleDiv" ng-repeat="blog in home.blogs|limitTo : 3">
                        <div class="p-l-0 col-lg-12">
                            <div class="w-100" style="height:200px">
                                <img ng-src="{{blog.thumb_pic}}" style="cursor:pointer" ng-click="home.blogView(blog)">
                            </div>

                            <h4 style="cursor:pointer" ng-click="home.blogView(blog)">{{blog.title}}</h4>
                            <label style="cursor:pointer" ng-click="home.blogView(blog)" class="text-center w-100">{{blog.short_desc}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'app/views/partials/footer.html'"></footer>

    </section>

</div>