<div class="row p-b-30" ng-controller="AreasController as area">
    <div class="animated fadeIn">
        <!--<h3 class="page-header-divpage-header">Sales</h3>-->
        <div class="row p-15">
            <h3 class="col-lg-4 col-md-4 col-xs-12 col-sm-4 p-0 m-0">Areas</h3>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center m-t-30" ng-if="area.areaList.length==0">
                <img src="app/img/SVG/empty/patients.svg" />
                <h4 style="color:#8592a5">No Areas added yet</h4>
            </div>
            <div class="panel panel-default row p-15" ng-if="area.areaList.length>0">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="dtArtists"  datatable="ng" dt-options="mCtrl.dtOptions"  class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th class="smallTD">S No.</th>
                                <th class="smallTD">Area ID</th>
                                <th class="largeTD">Area Name</th>
                                <th class="normalTD">Block Radius</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in area.areaList">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="smallTD">{{data.area_id}}</td>
                                <td class="largeTD">{{data.area_name}},{{data.country_name}}</td>
                                <td class="normalTD">{{data.search_bloc}} KMs</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
