<div class="bookingTimeDiv" ng-controller="BookingTimeController as book">
    <div class="animated fadeIn">
        <div class="navBar col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div ng-include="'app/views/partials/menuStep.html'"></div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 contentDiv">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12 col-md-8 col-sm-12 ">
                        <div class="whiteDiv col-lg-12 p-0">
                            <div class="whiteHeader p-15">
                                <h4>When you need a booking?</h4>
                            </div>
                            <div class="p-20 w-100" style="display: table;">
                                <datepicker datepicker-show="{{book.show}}" date-min-limit="{{book.tomorrow}}" datepicker-toggle="true" >
                                    <input style="visibility: hidden;width: 0;height: 0;margin: 0;" ng-model="book.bookingTime" type="text" class="angular-datepicker-input" ng-change="book.check_time(book.time)" />
                                </datepicker>
                            </div>
                            <div class="p-15 w-100" style="display: table;">
                                <label class="text-left col-lg-12 p-0" style="color: black">Select Time</label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-0 p-l-0">
                                        <select ng-model="book.time.hour" class="form-control" ng-class="{'invalidDate':book.invalidDate}" ng-change="book.check_time(book.time)" style="height:40px;">
                                            <option value="">Hours</option>
                                            <option ng-value="hour" ng-repeat="hour in book.hours track by $index">{{hour}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-0">
                                        <select ng-model="book.time.minute" class="form-control" ng-class="{'invalidDate':book.invalidDate}" ng-change="book.check_time(book.time)" style="height:40px;">
                                            <option value="">Minutes</option>
                                            <option ng-value="minute" ng-repeat="minute in book.minutes" >{{minute}}</option>
                                        </select>
                                    </div>
                                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-0">-->
                                        <!--<select ng-model="book.time.period" class="form-control" ng-class="{'invalidDate':book.invalidDate}" ng-change="book.check_time(book.time)" style="height:40px;">-->
                                            <!--<option value="">Period</option>-->
                                            <!--<option ng-value="period" ng-repeat="period in book.periods">{{period}}</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12 ">
                        <div class="whiteDiv col-lg-12 p-0">
                            <div class="whiteHeader p-15">
                                <h4>Booking Summary</h4>
                            </div>
                            <div class="p-15" style="display: table">
                                <h2><i class="fa fa-gbp"></i> {{book.totalPrice}}</h2>
                                <h4>{{book.service.service_name}} - {{book.category.category_name}}</h4>
                                <label ng-if="book.additionalServices.length>0" class="col-lg-12"
                                       ng-repeat="data in book.additionalServices">- {{data.as_name}}</label>
                            </div>
                            <div class="greyFooter p-15">
                                <h4 class="m-t-0">{{book.selectedDay|date:'EEEE'}}</h4>
                                <label>{{book.selectedDay|date:'MMMM dd, yyyy | hh:mm a'}}</label>
                            </div>
                        </div>
                        <button class="btn btnDefault w-100 m-t-30" ng-click="book.goToDetails()" ng-disabled="mCtrl.hitInProgress">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
