<div class="row p-b-30" ng-controller="CategoryController as category">
    <div class="animated fadeIn">
        <!--<h3 class="page-header-divpage-header">Sales</h3>-->
        <div class="row p-15">
            <h3 class="col-lg-4 col-md-4 col-xs-12 col-sm-4 p-0 m-0">Manage Categories</h3>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center m-t-30" ng-if="category.categories.length==0">
                <img src="app/img/SVG/empty/patients.svg" />
                <h4 style="color:#8592a5">No Category added yet</h4>
            </div>
            <div class="panel panel-default row p-15" ng-if="category.categories.length>0">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="dtCuisines"  datatable="ng" dt-options="mCtrl.dtOptions"  class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                 <th class="smallTD">S.No.</th>
                                 <th class="normalTD">Category Name</th>
                                 <th class="largeTD">Category Description</th>
                                 <th class="normalTD">Category Image</th>
                                <th class="largeTD">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in category.categories">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="normalTD">{{data.category_name}}</td>
                                <td class="largeTD">{{data.category_description}}</td>
                                <td class="normalTD">
                                    <img ng-if="data.category_image" ng-src="{{data.category_image}}" class="w-100 img--circle"/>
                                    <label ng-if="!data.category_image">Not Uploaded Yet</label>
                                </td>
                                <td class="largeTD">
                                    <a class="btn btn-sm btn-actions" title="Deactivate" ng-click="category.viewServices(data)">
                                    View Services
                                    </a>
                                    <!--<a class="btn btn-sm btn-actions" title="Deactivate" ng-click="category.deleteCategory(data)">-->
                                        <!--Delete-->
                                    <!--</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
