<div class="row p-b-30" ng-controller="CustomersController as cust">
    <div class="animated fadeIn">
        <!--<h3 class="page-header-divpage-header">Sales</h3>-->
        <div class="row p-15">
            <h3 class="col-lg-4 col-md-4 col-xs-12 col-sm-4 p-0 m-0">Manage Customers</h3>
            <div class="pull-right col-lg-3 col-md-3 col-xs-6 col-sm-3 greenDiv" style="max-width:200px;padding:12.5px">
                <h4><span>Total Customers : </span>&nbsp;{{cust.totalItems||0}}</h4>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center m-t-30" ng-if="cust.customers.length==0">
                <img src="app/img/SVG/empty/patients.svg" />
                <h4 style="color:#8592a5">No Customers added yet</h4>
            </div>
            <div class="panel panel-default row p-15" ng-if="cust.customers.length>0">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="dtCustomers"  datatable="ng" dt-options="mCtrl.dtOptions"  class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                 <th class="smallTD">S.No.</th>
                                <th class="normalTD">Customer Name</th>
                                <th class="normalTD">Mobile</th>
                                <th class="normalTD">Mobile Verified</th>
                                <th class="normalTD">Email</th>
                                <th class="normalTD">Email Verified</th>
                                <th class="normalTD">Registration Date</th>
                                <th class="largeTD">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in cust.customers">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="normalTD">
                                    <!-- {{data.patient_first_name}}&nbsp;{{data.patient_last_name}} -->
                                    <a style="color:#000000" >{{data.firstName}}&nbsp;{{data.lastName}}</a>
                                </td>
                                <td class="normalTD">{{data.countryCode}}-{{data.phoneNo}}</td>
                                <td class="normalTD" ng-if="data.phoneVerified">Yes</td>
                                <td class="normalTD" ng-if="!data.phoneVerified">No</td>
                                <td class="normalTD">{{data.email}}</td>
                                <td class="normalTD" ng-if="data.emailVerified">Yes</td>
                                <td class="normalTD" ng-if="!data.emailVerified">No</td>
                                <td class="normalTD">{{data.registrationDate|date:'dd-MM-yyyy'}}</td>

                                <td class="largeTD">
                                    <a class="btn btn-sm btn-actions" title="Deactivate" ng-click="cust.ngDialogPop('deactivate_patient_modal','smallPop')">
                                        Action
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" ng-show="visible" id="deactivate_patient_modal">
        <div class="ngdialog-message logoutpopo">

            <div class="ngdialog-header">
                <p>Information</p>
            </div>
            <div class="ngdialog-body">
                <p>Please contact the support center at <a href="tel:+18333363348">1 (833) DENEFITS</a> to deactivate the patient.</p>
                <!-- <button type="button" ng-click="closeThisDialog('button')"
                        class="btn btn-default pull-left btn-cancel">Cancel
                        </button>
                        <button type="button" ng-click="delete_prospect(id)"
                                class="btn btn-primary pull-right btn-pop">Delete
                        </button> -->
            </div>
        </div>
    </script>
</div>
