<div class="detailsDiv" ng-controller="DetailsController as details">
    <div class="animated fadeIn">
        <div class="navBar col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div ng-include="'app/views/partials/menuStep.html'"></div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 contentDiv">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12 col-md-8 col-sm-12 ">
                        <div class="whiteDiv col-lg-12 p-0">
                            <div class="whiteHeader p-15">
                                <h4>Your Details</h4>
                                <div class="row">
                                    <form name="details.detailsForm">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input name="fullName" ng-disabled="!details.detailsForm.fullName.$dirty&&details.personal.fullName" class="form-control" ng-model="details.personal.fullName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input name="email" ng-disabled="!details.detailsForm.email.$dirty&&details.personal.email" class="form-control" ng-pattern="mCtrl.emailPattern"  ng-model="details.personal.email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <div class="input-group">
                                                <div class="input-group-btn dropdown" uib-dropdown="" style="">
                                                    <button ng-disabled="!details.detailsForm.phone.$dirty&&details.personal.phone" class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle=""
                                                            aria-haspopup="true" aria-expanded="false">{{details.code}}
                                                        <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="code in details.codes">
                                                            <a ng-click="details.chooseCode(code)">{{code}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <input name="phone" ng-disabled="!details.detailsForm.phone.$dirty&&details.personal.phone" class="form-control" type="text" ng-model="details.personal.phone" maxlength=15 minlength=9
                                                       onkeypress="return isNumberKey(event)" masked="" data-inputmask="'mask': '(999) 999-9999'">
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div class="p-15 w-100" style="display: table;" ng-if="!loggedIn||userAddress.length==0">
                                <h4>Your Address</h4>
                                <div class="row">
                                    <form name="details.addressForm">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Apt/Suite</label>
                                                <input class="form-control" name="apt_address" ng-model="details.address.apt_address">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Locality</label>
                                                <input class="form-control" name="locality" ng-model="details.address.locality">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control" name="city" ng-model="details.address.city" ng-disabled="!details.addressForm.city.$dirty&&details.address.city">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input class="form-control" name="state" ng-model="details.address.state" ng-disabled="!details.addressForm.state.$dirty&&details.address.state">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input class="form-control" name="postal_code" ng-model="details.address.postal_code" ng-disabled="!details.addressForm.postal_code.$dirty&&details.address.postal_code">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="col-lg-12 p-0">Address Label</label>
                                                <button class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Home')" ng-class={'selectedBox':details.address.addressLabel=='Home'}>
                                                    <strong>Home</strong></button>
                                                <button class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Work')" ng-class={'selectedBox':details.address.addressLabel=='Work'}>
                                                    <strong>Work</strong></button>
                                                <button class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Other')" ng-class={'selectedBox':details.address.addressLabel=='Other'}>
                                                    <strong>Other</strong></button>
                                                <input class="form-control" placeholder="Enter custom label" ng-model="details.address.addressLabelOther" ng-if="details.address.addressLabel=='Other'">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="p-15 w-100" style="display: table;" ng-if="loggedIn&&userAddress.length>0">
                                <h4 class="m-t-0 col-lg-6 col-xs-12">Your Saved Address</h4>
                                <a class="text-right col-lg-6 col-xs-12" style="color: #ee7670" ng-click="details.addAddressPop()">Add new address</a>
                                <div class="clearfix"></div>
                                <div class="row m-t-20">
                                    <div class="col-lg-6 col-xs-12 m-b-20" style="height: 110px" ng-repeat="data in userAddress">
                                        <div class="savedAddressDiv ">
                                            <div class="radio">
                                                <label class="savAddSubDiv">
                                                    <input type="radio" ng-model="details.savedAddress" name="savedAddress"
                                                           value="{{$index}}" ng-click="details.addressSelect($index)"/>
                                                    <div>
                                                        <h4>{{data.address_title}}</h4>
                                                        <label>{{data.apt_address}} {{data.city}}</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12 ">
                        <div class="whiteDiv col-lg-12 p-0">
                            <div class="whiteHeader p-15">
                                <h4>Booking Summary</h4>
                            </div>
                            <div class="p-15">
                                <h2><i class="fa fa-gbp"></i>{{details.totalPrice}}</h2>
                                <h4>{{details.service.service_name}} - {{details.category.category_name}}</h4>
                                <label ng-if="details.additionalServices.length>0"
                                       ng-repeat="data in details.additionalServices">+ {{data.as_name}}</label>
                            </div>
                            <div class="greyFooter p-15">
                                <h4 class="m-t-0">{{details.bookingTime|date:'EEEE'}}</h4>
                                <label>{{details.bookingTime|date:'MMMM dd, yyyy | hh:mm a'}}</label>
                            </div>
                        </div>
                        <button class="btn btnDefault w-100 m-t-30" ng-click="details.goToPayment()"  ng-disabled="mCtrl.hitInProgress">Next</button>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="otp_modal">
                <div class="ngdialog-message m-0">
                    <div class="p-0 ngdialog-body prospectDiv row" style="display: flex;padding: 0!important">
                        <div class="p-0 hidden-xs col-lg-5 col-md-5 col-sm-5 verifyDiv">
                        </div>
                        <div class="p-30 col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <form name="details.verifyOTPForm" class="OtpForm" ng-submit="details.verifyOTPForm.$submitted&&details.verifyOTP()">
                                    <h3 class=" text-left">Verify your phone number</h3>
                                    <label style="color:#505050" class="m-b-30 text-left">Please enter verification code sent to {{details.code}}-{{details.personal.phone}}</label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                                        <ul class="full-width text-left list-inline">
                                            <li><input type="tel" maxlength="1" id="input0" auto-tab-to="input1" switch="input0" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="details.OTP.a" required autocomplete="off"></li>
                                            <li><input type="tel" maxlength="1" id="input1" auto-tab-to="input2" switch="input0" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="details.OTP.b" required autocomplete="off"></li>
                                            <li><input type="tel" maxlength="1" id="input2" auto-tab-to="input3" switch="input1" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="details.OTP.c" required autocomplete="off"></li>
                                            <li><input type="tel" maxlength="1" id="input3" auto-tab-to="input3" switch="input2" class="form-otp-input text-center"  numbers-only="numbers-only" name="OTP"  ng-model="details.OTP.d" required autocomplete="off"></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 text-left p-0 m-t-20">
                                        <a ng-click="!details.resendOTP&&details.generateOTP(2)" class="resendOTP" style="width: 35%;"
                                                ng-disabled="details.resendOTP" ><span ng-show="!details.resendOTP">Resend Code</span>
                                            <span ng-show="details.resendOTP">00:{{details.OTPCounter||30}}</span>
                                        </a>
                                    </div>
                                    <div class="p-0 col-lg-12">

                                        <button type="submit"
                                                class="m-l-15 btn btnDefault pull-left btn-pop">Verify Code
                                        </button>
                                        <button type="button"
                                                class="btn pull-right btn-cancel m-r-15" ng-click="closeThisDialog('button')">Cancel
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </script>



            <script type="text/ng-template" id="addAddressModal">
                <div class="ngdialog-message logoutpopo m-0">

                    <div class="ngdialog-header">
                        <p>Add New Address</p>
                        <form name="details.locForm" ng-submit="details.locForm.$submitted&&details.location&&details.checkLocation()">

                        <div class="input-group m-t-20 m-b-30">
                            <span class="input-group-addon"><em class="fa fa-location-arrow"></em></span>
                            <input ng-disabled="details.locationSelected" googleplace class="form-control" ng-model="details.location" type="text" placeholder="Enter location here…" required>
                            <span class="input-group-btn">
                                    <button  ng-disabled="details.locationSelected" class="btn btn-default autoDetect" type="button" ng-click="details.autoDetect()">
                                        <img class="m-r-10" src="app/img/SVG/detect-location.svg"> Auto Detect</button>
                                </span>
                        </div>
                            <div class="col-lg-12 text-center">
                            <button ng-hide="details.locationSelected" type="submit" class="btn btnDefault w-50">Choose</button>
                            </div>
                        </form>
                    </div>
                    <div class="ngdialog-body" ng-if="details.locationSelected">
                        <form name="details.addAddressPop" ng-submit="details.addAddressPop.$submitted&&details.addAddress(1)">
                            <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Apt/Suite</label>
                                            <input class="form-control" name="apt_address" ng-model="details.address.apt_address" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Locality</label>
                                            <input class="form-control" name="locality" ng-model="details.address.locality" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input class="form-control" name="city" ng-model="details.address.city"  required ng-disabled="!details.addAddressPop.city.$dirty&&details.address.city">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>State</label>
                                            <input class="form-control" name="state" ng-model="details.address.state" required ng-disabled="!details.addAddressPop.state.$dirty&&details.address.state">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Postcode</label>
                                            <input class="form-control" name="postal_code" ng-model="details.address.postal_code" required ng-disabled="!details.addAddressPop.postal_code.$dirty&&details.address.postal_code">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="col-lg-12 col-xs-12 p-0">Address Label</label>
                                            <button type="button" class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Home')" ng-class={'selectedBox':details.address.addressLabel=='Home'}>
                                                <strong>Home</strong></button>
                                            <button type="button" class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Work')" ng-class={'selectedBox':details.address.addressLabel=='Work'}>
                                                <strong>Work</strong></button>
                                            <button type="button" class="btn whiteBtn col-lg-2 m-b-15 m-r-15" ng-click="details.chooseAddressLabel('Other')" ng-class={'selectedBox':details.address.addressLabel=='Other'}>
                                                <strong>Other</strong></button>
                                            <input class="form-control" ng-model="details.address.addressLabelOther" ng-if="details.address.addressLabel=='Other'">
                                        </div>
                                    </div>
                            </div>
                            <hr class="popHR">
                            <button type="button" ng-click="closeThisDialog('button')"
                                    class="btn btn-default pull-left btn-cancel">Cancel
                            </button>
                            <button type="submit" class="btn btn-primary pull-right btn-pop"  ng-disabled="mCtrl.hitInProgress">Add Address
                            </button>
                        </form>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>
