<div class="locationDiv" ng-controller="LocationController as loc">
    <div class="animated fadeIn">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="container">
                <div class="row locationMob">
                    <div class="panel col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center pull-right p-20" style="max-width: 450px;">
                        <h3>Enter your location to get started</h3>
                        <label>Fina a stylist near you</label>
                        <form name="loc.locForm" ng-submit="loc.locForm.$submitted&&loc.location&&loc.checkLocation()">
                            <div class="input-group m-t-20 m-b-30">
                                <span class="input-group-addon"><em class="fa fa-location-arrow"></em></span>
                                <input googleplace class="form-control" ng-model="loc.location" type="text" placeholder="Enter location here…" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default autoDetect" type="button" ng-click="loc.autoDetect()">
                                        <img src="app/img/SVG/detect-location.svg"> <span class="hidden-xs">Auto Detect</span></button>
                                </span>
                            </div>

                            <button type="submit" class="btn btnDefault w-100">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>