<div ng-controller="NotificationsController as notf">
    <div class="animated fadeIn">
        <!--<h3 class="page-header">Sales</h3>-->
        <!-- <div class="page-header-div"> -->
                <h3 class="col-lg-2 col-md-2 col-xs-12 col-sm-3 ">Notifications</h3>
        <!-- </div> -->
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="panel panel default">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="datatableSales" class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th class="smallTD">S No.</th>
                                <th class="normalTD">Message</th>
                                <th class="normalTD">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in mCtrl.admin_notifications">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="normalTD" ng-if="data.subject=='A prospect wants to get financed from you.'"><strong>{{data.patient_first_name}}&nbsp;{{data.patient_last_name}}</strong> wants to be your patient<br>Email : {{data.patient_email}}<br />Mobile: {{data.patient_mobile|phoneNumber}}</td>
                                <td class="normalTD">
                                  <a class="btn btn-sm btn-actions" title="Deactivate" ng-if="data.action_taken==0"  style="background-color:#75ae37;color:white" ng-click="mCtrl.acceptProspect(data.dn_id)">
                                  Accept
                                  </a>
                                  <a class="btn btn-sm btn-actions" title="Deactivate" ng-if="data.action_taken==0"  style="background-color:#75ae37;color:white" ng-click="mCtrl.rejectProspect(data.dn_id)">
                                  Reject
                                  </a>
                                  <p ng-if="data.action_taken==1">
                                      Accepted
                                  </p>
                                  <p ng-if="data.action_taken==2">
                                    Rejected
                                  </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
