<div class="row p-b-30" ng-controller="CancelledBookingsController as canc">
    <div class="animated fadeIn">
        <!--<h3 class="page-header-divpage-header">Sales</h3>-->
        <div class="row p-15">
            <h3 class="col-lg-4 col-md-4 col-xs-12 col-sm-4 p-0 m-0">Cancelled Bookings</h3>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center m-t-30" ng-if="canc.cancelledList.length==0">
                <img src="app/img/SVG/empty/patients.svg" />
                <h4 style="color:#8592a5">No bookings cancelled yet</h4>
            </div>
            <div class="panel panel-default row p-15" ng-if="canc.cancelledList.length>0">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="dtCancelled"  datatable="ng" dt-options="mCtrl.dtOptions"  class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th class="smallTD">S No.</th>
                                <th class="normalTD">Booking ID</th>
                                <th class="normalTD">Time Booked</th>
                                <th class="normalTD">Time Accepted</th>
                                <th class="normalTD">Parent Name</th>
                                <th class="normalTD">Parent Mobile</th>
                                <th class="normalTD">Parent Email</th>
                                <th class="normalTD">Parent Address</th>
                                <th class="normalTD">Parent City</th>
                                <th class="normalTD">Area</th>
                                <th class="normalTD">Nanny Name..</th>
                                <th class="normalTD">Nanny Mobile</th>
                                <th class="normalTD">Nanny Email</th>
                                <th class="largeTD">Start Time</th>
                                <th class="largeTD">End Time</th>
                                <th class="largeTD">Actual Start Time</th>
                                <th class="largeTD">Actual End Time</th>
                                <th class="largeTD">Additional Comments</th>
                                <th class="largeTD">Overtime Minutes</th>
                                <th class="largeTD">Rating</th>
                                <th class="largeTD">Rated At</th>
                                <th class="normalTD hide">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in canc.cancelledList">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="normalTD">{{data.booking_id}}</td>
                                <td class="largeTD">{{data.local_date_booked|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="largeTD">{{data.local_accepted_at|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="normalTD">{{data.booking_user_name}}</td>
                                <td class="normalTD">{{data.booking_user_mobile}}</td>
                                <td class="normalTD">{{data.user_email}}</td>
                                <td class="normalTD">({{data.address_title}}):&nbsp;{{data.apt_address}}&nbsp;{{data.street_route}}&nbsp;{{dat.city}}{{data.state}}&nbsp;&nbsp;{{data.post_code}}</td>
                                <td class="normalTD">{{data.city}}</td>
                                <td class="normalTD">{{data.area_name}}</td>
                                <td class="normalTD">{{data.nanny_name||'-'}}</td>
                                <td class="normalTD">{{data.nanny_mobile||'-'}}</td>
                                <td class="normalTD">{{data.nanny_email||'-'}}</td>
                                <td class="largeTD">{{data.local_start_time|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="largeTD">{{data.local_end_time|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="largeTD">{{data.local_actual_start_time|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="largeTD">{{data.local_actual_end_time|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="normalTD">{{data.additional_comment||'-'}}</td>
                                <td class="normalTD">{{data.overtime_minutes||'-'}}</td>
                                <td class="normalTD">{{data.rating||'-'}}</td>
                                <td class="normalTD">{{data.local_rated_at|date:'MM-dd-yyyy hh:mm a'}}</td>
                                <td class="normalTD hide">
                                    <a class="btn btn-sm btn-actions" title="Edit" ng-click="addEditProspectFn(0,data)">
                                        <img src='img/SVG/edit.svg'>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
