<div class="row p-b-30" ng-controller="UnverifiedArtistsController as unArtist">
    <div class="animated fadeIn">
        <!--<h3 class="page-header-divpage-header">Sales</h3>-->
        <div class="row p-15">
            <h3 class="col-lg-4 col-md-4 col-xs-12 col-sm-4 p-0 m-0">Manage Artists</h3>
            <div class="pull-right col-lg-3 col-md-3 col-xs-6 col-sm-3 greenDiv" style="max-width:200px;padding:12.5px">
                <h4><span>Total Artists : </span>&nbsp;{{artist.totalItems||0}}</h4>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="col-md-12 col-lg-12 text-center m-t-30" ng-if="unArtist.artists.length==0">
                <img src="app/img/SVG/empty/patients.svg" />
                <h4 style="color:#8592a5">No Artists added yet</h4>
            </div>
            <div class="panel panel-default row p-15" ng-if="unArtist.artists.length>0">
                <div class="tableDiv">
                    <div class="table-responsive">
                        <table id="dtArtists"  datatable="ng" dt-options="mCtrl.dtOptions"  class="table table-striped table-hover table-vmiddle" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th class="smallTD">S No.</th>
                                <th class="normalTD">Name</th>
                                <th class="normalTD">Registeration Date</th>
                                <th class="largeTD">Email</th>
                                <th class="largeTD">Phone</th>
                                <th class="normalTD">Image</th>
                                <th class="normalTD">Service Areas</th>
                                <th class="normalTD">About</th>
                                <th class="normalTD">Skills</th>
                                <th class="normalTD">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in unArtist.artists">
                                <td class="smallTD">{{$index+1}}</td>
                                <td class="normalTD">{{data.artist_name}}</td>
                                <td class="normalTD">{{data.date_registered|date:'MM-dd-yyyy'}}</td>
                                <td class="largeTD">{{data.artist_email}}</td>
                                <td class="largeTD">{{data.artist_mobile|phoneNumber}}</td>
                                <td class="normalTD">
                                    <img ng-if="data.artist_image" ng-src="{{data.artist_image}}" class="w-100 img--circle"/>
                                    <label ng-if="!data.artist_image">Not Uploaded Yet</label>
                                </td>
                                <td class="normalTD">{{data.serving_areas}}</td>
                                <td class="normalTD">{{data.artist_about}}</td>
                                <td class="normalTD">{{data.skills}}</td>
                                <td class="smallTD">
                                    <!--<a class="btn btn-sm btn-actions" title="Edit" ng-click="addEditProspectFn(0,data)">-->
                                        <!--<img src='img/SVG/edit.svg'>-->
                                    <!--</a>-->
                                    <a class="btn btn-sm btn-actions" title="Block" ng-if="!data.verified_by_admin" ng-click="unArtist.verifyArtist(data)">
                                        Verify
                                    </a>
                                    <!--<a class="btn btn-sm btn-actions" title="Block" ng-if="data.is_blocked" ng-click="blockConfirm(data.artist_id,1)">-->
                                        <!--Unblock-->
                                    <!--</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="block_artist_modal">
        <div class="ngdialog-message logoutpopo">

            <div class="ngdialog-header">
                <p>Confirmation</p>
            </div>
            <div class="ngdialog-body">
                <p>Are you sure you want to <strong>{{unArtist.blocked}}</strong> this artist ? </p>
                <button type="button" ng-click="closeThisDialog('button')"
                        class="btn btn-default pull-left btn-cancel">Cancel
                </button>
                <button type="button" ng-click="unArtist.block_user()"
                        class="btn btn-primary pull-right btn-pop" style="text-transform:capitalize">{{unArtist.blocked}}
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="verify_artist_modal">
        <div class="ngdialog-message logoutpopo">

            <div class="ngdialog-header">
                <p>Verification</p>
            </div>
            <div class="ngdialog-body">
                <form>
                    <div class="form-group">
                        <label></label>
                    </div>
                    <hr class="popHR">
                    <button type="button" ng-click="closeThisDialog('button')"
                            class="btn btn-default pull-left btn-cancel">Cancel
                    </button>
                    <button type="submit" class="btn btn-primary pull-right btn-pop" style="text-transform:capitalize">Verify
                    </button>

                </form>

            </div>
        </div>
    </script>

</div>
